body {
	background-color: #EEEEEE;
	margin-top: 35px;
}

.main {
	height: 100%;
}

header img {
	height: 22px;
	width: 13px;
	padding-top: 6px;
	float: left;
}

/*header button {
	border: none;
	height: 28px;
	font-size: 12px;
	margin-right: 1%;
	display: inline-block;
	line-height: 30px;
	float: right;
}*/
header span {
	float: right;
	padding-top: 6px;
}

.middle {
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	background-color: white;
	height: 70px;
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.mleft input {
	position: relative;
	margin-left: 35%;
	margin-top: 50%;
	zoom: 150%;
}

.mright {
	background-color: white;
	height: 100%;
	width: 85%;
	float: right;
}

.mleft {
	position: relative;
	height: 100%;
	background-color: white;
	float: left;
	width: 15%;
}

.rt {
	background-color: white;
	height: 40%;
}

.rb {
	overflow: hidden;
	word-break: keep-all;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: white;
	height: 60%;
}

.address_name {
	font-size: 14px;
	position: relative;
	margin-top: 1%;
	display: inline-block;
}

.address_phone {
	font-size: 14px;
	position: relative;
	margin-top: 1%;
	margin-right: 3%;
	display: inline-block;
	float: right;
}

.address_address {
	display: inline-block;
	position: relative;
	margin-top: 0%;
	font-size: 13px;
}

.del {
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: white;
	height: 50px;
}

.dleft {
	height: 50px;
	float: left;
	width: 10%;
}

.dright {
	height: 50px;
	float: right;
	width: 90%;
}

.dleft input {
	margin-left: 50%;
	margin-top: 40%;
}