body {
	background-color: #eeeeee;
}

@media ( min-width : 376px) and (max-width: 414px) {
	html {
		font-size: 11px;
	}
}

@media ( min-width : 415px) and (max-width: 639px) {
	html {
		font-size: 13px;
	}
}

@media ( min-width : 640px) and (max-width: 719px) {
	html {
		font-size: 14px;
	}
}

@media ( min-width : 720px) and (max-width: 749px) {
	html {
		font-size: 15px;
	}
}

@media ( min-width : 750px) and (max-width: 799px) {
	html {
		font-size: 16px;
	}
}

@media ( min-width : 800px) and (max-width: 992px) {
	html {
		font-size: 20px;
	}
}

body {
	margin: 0;
	font-size: 1.6rem;
	background-color: #FAFAFA;
}

#perinfo {
	margin: 0 auto;
}

#header {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-right: 3%;
}

#return {
	margin-left: 3%;
	width: 10px;
	height: 18px;
}

#return img {
	width: 10px;
	height: 18px;
}

#add-address {
	margin: 0 auto;
}

#header button {
	border: none;
	height: 28px;
	background-color: white;
	font-size: 12px;
	margin-top: -33px;
	margin-right: 1%;
	display: inline-block;
	line-height: 30px;
	float: right;
}

.zl {
	position: relative;
	margin-top: 20px;
	background-color: white;
	height: 325px;
	width: 100%;
}

.tx {
	background-color: white;
	height: 80px;
	border-bottom: solid 1px #eeeeee;
}

.tx p {
	margin-top: 0px;
	display: inline-block;
	position: relative;
	left: 3%;
	line-height: 80px;
}

.yuan {
	overflow: hidden;
	margin-right: 15px;
	margin-top: 9px;
	float: right;
	background-color: aqua;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	display: inline-block;
}

.yuan img {
	width: 100%;
	height: 100%;
}

.id {
	border-bottom: solid 1px #eeeeee;
	background-color: white;
	height: 40px;
}

.id p {
	margin-top: 0px;
	display: inline-block;
	position: relative;
	line-height: 40px;
}

#user_id {
	position: absolute;
	padding-right: 20px;
	right: 0%;
	color: darkgray;
}

.nc {
	border-bottom: solid 1px #eeeeee;
	background: white;
	width: 100%;
	height: 40px;
	position: relative;
}

.nc p {
	margin-top: 0px;
	display: inline-block;
	position: relative;
	line-height: 40px;
}

#user_text {
	left: 3%;
}

.brith {
	border-bottom: solid 1px #eeeeee;
	height: 40px;
	background-color: white;
}

.brith p {
	margin-top: 0px;
	display: inline-block;
	position: relative;
	line-height: 40px;
}

.xb {
	border-bottom: solid 1px #eeeeee;
	height: 40px;
	background-color: white;
}

.xb p {
	margin-top: 0px;
	display: inline-block;
	position: relative;
	line-height: 40px;
}

.phone {
	border-bottom: solid 1px #eeeeee;
	height: 40px;
	background-color: white;
}

.phone p {
	margin-top: 0px;
	display: inline-block;
	position: relative;
	line-height: 40px;
}

.address {
	border-bottom: solid 1px #eeeeee;
	height: 40px;
	background-color: white;
}

.address p {
	margin-top: 0px;
	display: inline-block;
	position: relative;
	line-height: 40px;
}

input {
	margin-right: 5px;
	float: right;
	margin-top: 7px;
	line-height: 20px;
	border: none;
}

label {
	margin-top: 10px;
	float: right;
}

label.bui-radios-label input[type="radio"] {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

label.bui-radios-label .bui-radios {
	display: inline-block;
	position: relative;
	width: 13px;
	height: 13px;
	background-color: #fff;
	border: 1px solid #979797;
	border-radius: 50%;
	vertical-align: -2px;
	margin-right: 5px;
}

label.bui-radios-label input[type="radio"]:checked+.bui-radios:after {
	position: absolute;
	content: "";
	width: 7px;
	height: 7px;
	background-color: #fff;
	border-radius: 50%;
	top: 3px;
	left: 3px;
}

label.bui-radios-label input[type="radio"]:checked+.bui-radios {
	background-color: #00B066;
	border: 1px solid #00B066;
}

label.bui-radios-label input[type="radio"]:disabled+.bui-radios {
	background-color: #e8e8e8;
	border: 1px solid #979797;
}

label.bui-radios-label input[type="radio"]:disabled:checked+.bui-radios:after
	{
	background-color: #c1c1c1;
}

label.bui-radios-label.bui-radios-anim .bui-radios {
	-webkit-transition: background-color ease-out .5s;
	transition: background-color ease-out .5s;
}