body {
	background-color: #F2F2F2;
	margin-top: 35px;
}

.main {
	
}

.head {
	height: 44px;
}

header img {
	height: 22px;
	width: 13px;
	padding-top: 6px;
	float: left;
}

.tp {
	background: url(../img/1.png) no-repeat;
	background-size: 100%;
	width: 50%;
	height: 100px;
	margin-left: 25%;
	margin-right: 25%;
}

.line1 {
	margin-top: 2%;
	text-align: center;
}

.line2 {
	font-size: 20px;
	margin-top: 2%;
	text-align: center;
}

.line3 {
	color: green;
	font-size: 14px;
	margin-top: 5%;
	text-align: center;
}

.line4 {
	color: green;
	font-size: 14px;
	margin-top: 5%;
	text-align: center;
}

.line5 {
	word-wrap: break-word;
	width: 100%;
	font-size: 12px;
	margin-top: 5%;
	text-align: center;
}

.line6 {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
}

.line7 {
	text-align: center;
	font-size: 13px;
	position: relative;
	height: 50%;
}

.line8 {
	text-align: center;
	font-size: 13px;
	position: relative;
	height: 50%;
}