body {
	font-size: 1.6 rem;
	background-color: #FAFAFA;
	height: 100%;
}

* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 13px;
}

@media ( min-width : 376px) and (max-width: 414px) {
	html {
		font-size: 11px;
	}
}

@media ( min-width : 415px) and (max-width: 639px) {
	html {
		font-size: 13px;
	}
}

@media ( min-width : 640px) and (max-width: 719px) {
	html {
		font-size: 14px;
	}
}

@media ( min-width : 720px) and (max-width: 749px) {
	html {
		font-size: 15px;
	}
}

@media ( min-width : 750px) and (max-width: 799px) {
	html {
		font-size: 16px;
	}
}

@media ( min-width : 800px) and (max-width: 992px) {
	html {
		font-size: 20px;
	}
}

#header {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	padding-top: 4%;
	padding-bottom: 4%;
}

#return {
	margin-left: 3%;
	width: 10px;
	height: 18px;
}

.toptitle {
	margin: 0 auto;
}

#d-1 {
	background-color: #FFFFFF;
	margin: 3% 0 3% 0;
}

#d-1-1 {
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	border-bottom: 3px solid #FAFAFA;
}

#a1 {
	font-size: 1.6 rem;
	padding: 3% 0% 3% 3%;
}

#a2 {
	font-size: 1.4 rem;
	color: #b3b3b3;
	padding: 3% 0% 3% 3%;
}

#a3 {
	font-size: 1.4 rem;
	color: #f36c4e;
	padding: 3% 0% 3% 3%;
}

#d-2 {
	background-color: #FFFFFF;
	padding: 5% 2% 5% 0%;
}

#a4 {
	font-size: 1.6 rem;
	padding-left: 5%;
}

body div div p {
	line-height: 1.2 rem;
	padding-left: 5%;
}

#d-3 {
	
}

input {
	width: 80%;
	height: 38px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
	border-radius: 5px;
	border: none;
	color: #FFFFFF;
	background: #49e666;
}