.zhuc {
	padding-top: 50%;
}

html, body {
	background-size: 100%;
}

.inp {
	width: 80%;
	height: 30px;
	margin-right: 10%;
	margin-top: 5%;
	border: none;
	border-bottom: 1px solid #abcdfd;
	vertical-align: middle;
}

.sub {
	width: 80%;
	height: 35px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
}

.sp1 {
	background-image: url(../img/login/username.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-size: 50%;
	background-position: left center;
}

.sp2 {
	background: url(../img/login/password.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-size: 50%;
	background-position: left center;
}